body{
  display: flex;
  justify-content: center;
}
.button{
  background-color: aquamarine;
  color: black;
  margin: 20px -3px;
  height: 30px;
}
.title{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 30px;
  
}
.div-administrarcolor{
  display: flex;
  flex-direction: column;

  width: 500px;
  height: auto;
  background-color: rgb(204, 211, 211);
  margin: 100px;
  border-radius: 10px;
 


}
.x{
  font-weight: bold;
  font-family:sans-serif;
  cursor: pointer;
}
.x:hover{
  color: brown;
}
.box{
display: flex;
flex-direction: column;
margin: 50px;
}
.color{
  width: 100px;
  height: 100px;
  background-color: rgb(48, 60, 230);
  border: solid 2px black;
  margin: 0px 10px;
}
.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.cajita{
  width: 220px ;
  height: 180px;
  border: solid 2px rgba(228, 218, 218, 0.897);
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  border-radius:5px;
  box-shadow: 3px 5px 3px rgb(167, 165, 165) ;
}

.borrar{
  width: 65px;
  height: 50px;
  
}
.namecolor{
  font-weight: bold;
  font-family: sans-serif;
  color: red;
}
.Rojo{
  background-color: brown;
    width: 80px;
  height: 80px;
  border: solid 1px black;
  margin:0px 60px ;
}
.container-Trabajadores{
  width:auto;
  height: auto;
  border: solid rgb(72, 73, 72) 3px;
  margin: 30px;
}
.formulario{
  width:auto;
  height: auto;
  border: solid rgb(72, 73, 72) 3px;
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.input{
  margin: 30px;
  width: 240px;
  height: 50px;
}
.vacio{
  border: solid 3px red;
  margin: 30px;
  width: 240px;
  height: 50px;
}
.trabajador{
  width: 500px;
  height: 70px;
 
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  border: solid rgb(146, 145, 145) 1px;


}
.avatar{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: solid 3px  rgb(179, 173, 173);
}
.name{
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(68, 69, 70);
}
.profesion{
  
  font-family: sans-serif;

}
.departamento{
  background-color: rgb(89, 204, 204);
  font-weight: bold;
  font-family: sans-serif;
  height: 19px;
  padding: 0px 10px;
  margin: 20px;
  border-radius: 5px;
  color: aliceblue;

  
  color: white;
}
.formulario-veterinaria{
  border: solid 1px rgb(236, 233, 233);
  box-shadow: rgb(129, 127, 127) 1px 3px 8px 2px;
}
.input-form{
  border: none;
  height: 40px;
  width: 400px;
  background-color: rgb(203, 211, 211);
  margin: 0px 10px;
  border-radius: 10px;
}
.label{
  margin: 0px 19px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: rgb(31, 32, 32);
}
#fecha{
  width: 100px;
}
.formularioveterinaria{
  
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.buttonenviarcita{
  width: 150px;
}
.container-citas{
  border: solid 1px rgb(236, 233, 233);
  margin: 100px;
  box-shadow: rgb(129, 127, 127) 1px 3px 8px 2px;
  height:auto;
  width: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.cita-div{
 width: auto;
 height: auto;
 padding: 20px 20px;
 border: solid 1px rgb(236, 233, 233);
  margin: 0px 20px;
  box-shadow: rgb(129, 127, 127) 1px 3px 8px 2px;
}
.main{
  margin: 0px 0px;
}
@media only screen and (max-width: 500px) {
.div-administrarcolor{
  margin: 0px auto;
  
}
.container{
  flex-wrap: wrap;
}
}